.App {
    font-family: sans-serif;
    text-align: center;
}

.detailHeading {
    float: left;
    width: 100%;
}

.container {
    padding: 10px;
    width: 100%;
}

.pageDescription {
    width: 100%;
}

.float-left {
    float: left;
}

.width-100 {
    width: 100%;
}

.padding-6 {
    padding: 6px !important;
}

.margin-2 {
    margin: 2px !important;
}

.header-bg {
    background-color: rgb(240, 81, 59) !important;
    border-radius: 0 !important;
}

.whiteFont {
    color: white !important;
}

.tomatoFont {
    color: rgb(240, 81, 59) !important;
}

.boldFont {
    font-weight: 600 !important;
}

.carouselContainer {
    width: 90%;
    align-self: center !important;
    align-content: center !important;
    align-items: center !important;
    margin: 5% auto;
}

.float-left {
    float: left;
}

.width-100 {
    width: 100%;
}

.padding-6 {
    padding: 6px !important;
}

.margin-2 {
    margin: 2px !important;
}

.width-50 {
    width: 50%;
}

.width-25 {
    width: 25px;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.display-flex {
    display: flex;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.padding-10 {
    padding: 10px;
}

.price-tag {
    font-size: 26px;
    font-weight: 700;
    color: #333545;
    padding: 10px;
}

.font-size-18 {
    font-size: 18px;
}